[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autostsm"]
	path = autostsm
	url = https://github.com/cran/autostsm
[submodule "kalmanfilter"]
	path = kalmanfilter
	url = https://github.com/cran/kalmanfilter
[submodule "kimfilter"]
	path = kimfilter
	url = https://github.com/cran/kimfilter
